body {
  background-color: #fde4e4;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  width: 380px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.line {
  flex: 1;
  height: 1px;
  background: #ccc;
}

h2 {
  color: #ff6b82;
  font-size: 18px;
  margin: 0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  position: relative;
  width: 341px;
  cursor: pointer;
  background: white;
  transition: all 0.3s ease-in-out;
}

.box.active {
  border: 2px solid #ff6b82;
  background: #fff5f7; 
  box-shadow: 0 4px 10px rgba(255, 107, 130, 0.3);
  position: relative;
}

.box.active .most-popular {
  position: absolute;
  top: -12px;
  right: -2px;
  background: #ff6b82;
  color: white;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  transform: translateY(-50%);
}

.most-popular{
  text-align: right;
  font-size: 12px;
  color: green;
}

.box label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.unit {
  font-weight: bold;
}

.discount {
  background: #ff6b82;
  color: white;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 4px;
}

.price {
  margin-left: auto;
  font-weight: bold;
}

.subtext {
  color: gray;
  font-size: 12px;
  margin-top: 5px;
  display: flex;
}

.old-price {
  color: gray;
  text-decoration: line-through;
  font-size: 12px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  background: #fff5f7; 
  border-radius: 8px;
  margin-top: 10px;
}

.dropdown-header {
  display: flex;
  gap: 50px;
  font-size: 14px;
  margin-bottom: 5px;
}

.dropdowns label {
  font-size: 12px;
  color: black;
}

.dropdown-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.dropdown-row span {
  font-size: 14px;
  color: black;
}

.dropdown-row select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background: white;
  cursor: pointer;
  width: 80px;
}

.dropdowns {
  display: none;
}

.box.active .dropdowns {
  display: block;
}

.box input[type="radio"] {
  accent-color: #ff6b82;
  transform: scale(1.2);
}

.summary {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 15px 0;
}

.free-delivery {
  color: #ff6b82;
  font-weight: bold;
  margin-left: 5px;
}

.total {
  font-weight: bold;
  margin-right: 10px;
}

.add-to-cart {
  width: 371px;
  background: #ff6b82;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart:hover {
  background: #e65c70;
}

.footer-text{
  text-align: right;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 5px;
  color: #00000066;
}
